rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    match /Users/{userId} {
      allow read: if signedIn();
      allow create, update: if signedIn()
        && request.auth.uid == userId;
      allow delete: if signedIn()
        && request.auth.uid == userId;
    }

    match /chat_rooms/{roomId}/messages/{messageId} {
      allow read: if signedIn();
      allow create: if signedIn()
        && request.resource.data.senderId == request.auth.uid;
      allow update: if signedIn()
        && (
          resource.data.senderId == request.auth.uid ||
          resource.data.receiverId == request.auth.uid
        );
    }
  }
}